<footer class="bg-[#8BC34A] rounded-lg shadow dark:bg-[#1E1E1E] m-4 text-[#1B1B1B] dark:text-[#F1F1F1]">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
        <span class="self-center text-2xl font-semibold whitespace-nowrap text-[#1B1B1B] dark:text-[#A5D6A7]">DietiEstates</span>
      </a>
      <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-[#2E7D32] dark:text-[#A5D6A7]">
        <li>
          <a href="#" class="hover:underline hover:text-[#4CAF50] me-4 md:me-6">About</a>
        </li>
        <li>
          <a href="#" class="hover:underline hover:text-[#4CAF50] me-4 md:me-6">Privacy Policy</a>
        </li>
        <li>
          <a href="#" class="hover:underline hover:text-[#4CAF50] me-4 md:me-6">Licensing</a>
        </li>
        <li>
          <a href="#" class="hover:underline hover:text-[#4CAF50]">Contact</a>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-[#A5D6A7] sm:mx-auto dark:border-[#66BB6A] lg:my-8" />
    <span class="block text-sm text-[#2E7D32] sm:text-center dark:text-[#A5D6A7]">
      © 2023 <a href="#" class="hover:underline hover:text-[#4CAF50] dark:hover:text-[#81C784]">Lorenzo Trignano™</a>. All Rights Reserved.
    </span>
  </div>
</footer>
