<nav class="bg-olive-50 border-b border-olive-200 p-4 shadow-sm transition-colors duration-300">
  <div class="container mx-auto flex justify-between items-center">
    
    <a routerLink="/homepage" class="flex items-center space-x-2 group">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-olive-500 group-hover:text-olive-400 transition-colors">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
      </svg>
      <span class="self-center text-2xl font-bold whitespace-nowrap text-olive-900 group-hover:text-olive-500 transition-colors">DietiEstates</span>
    </a>

    <div class="flex items-center space-x-6">
      <div class="hidden md:block">
        <ul class="font-medium flex space-x-8 items-center">
          @if (!this.authService.isUserAuthenticated()) {
            <li>
              <a routerLink="/login" routerLinkActive="text-olive-900 font-extrabold underline decoration-olive-500" [ngClass]="{'text-olive-900': !routerLinkActive}" class="hover:text-olive-500 transition-colors duration-200">
                Login
              </a>
            </li>
            <li>
              <a routerLink="/signup" routerLinkActive="text-olive-900 font-extrabold underline decoration-olive-500" [ngClass]="{'text-olive-900': !routerLinkActive}" class="hover:text-olive-500 transition-colors duration-200">
                Sign up
              </a>
            </li>
          } @else {
            <li><app-user-dropdown></app-user-dropdown></li>
          }
        </ul>
      </div>

      <div class="flex items-center space-x-4">
        @if (!this.authService.isUserAuthenticated()) {
          <a routerLink="/signup-agency" class="hidden md:block bg-olive-500 text-white rounded-full px-5 py-2 hover:bg-olive-400 transition-all duration-200 font-bold shadow-md hover:shadow-lg transform active:scale-95">
            Diventa un'agenzia
          </a>
        }
      </div>

      <div class="md:hidden">
        <button (click)="toggle()" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-olive-900 rounded-lg hover:bg-olive-100 focus:outline-none focus:ring-2 focus:ring-olive-500 transition-colors">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>